.calendar-container{
    height:auto;
    width:auto;
    display:flex;
    justify-content: center;
}

.image-container{
    display:flex;
    justify-content: center;
    vertical-align: middle;
}
.event-image{
    height: 25vh;
    width: 30vh;
    margin-bottom:10px;
}

.events-container{
    display:flex;
    flex-direction: column;
    width:100vh;
    border:px solid lightgray;
}
ul{
    padding:0;
}
.listview{
    align-items: center;
    vertical-align: middle;
}

.event-title{
    font-size:1.5em;
    padding-left:30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.event-date{
    justify-content: flex-end;
    align-items: flex-end;
}

.event-summary{
    font-size: 1em;
    padding-left: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
}
.img-list-view{
    height:50px;
    width:50px;
    clip-path: circle();
    padding-left:10px;
    padding-top: 10px;
}
.listItem{
    list-style-type: none;
    border-bottom:1px solid lightgray;
    background-color: rgb(255, 255, 255);
    margin-bottom:15px;
    box-shadow: 0 3px 10px rgb(199, 199, 199);
}

.listItem:hover {
    cursor: pointer;
    background-color: rgb(245, 245, 245);
    transition: 0.5s;
}

.list-item-container{
    transition: 0.5s;
}

.list-item-container:hover{
    margin-top:-5px;
}