.calendar-container{
    height:auto;
    width:auto;
    display:flex;
    justify-content: center;
}

.image-container{
    display:flex;
    justify-content: center;
    vertical-align: middle;
}
.event-image{
    height: 25vh;
    width: 30vh;
    margin-bottom:10px;
}

.events-container{
    display:flex;
    flex-direction: column;
    width:120vh;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 10px rgb(255, 255, 255);
    background-image: linear-gradient(rgb(88, 0, 176), rgb(41, 0, 102));
    border-radius: 50px 50px 50px 5px;
}
ul{
    padding:0;
}
.listview{
    align-items: center;
    vertical-align: middle;
}

.event-title{
    font-size:1.5em;
    padding-left:30px;
    color:rgb(215, 215, 215);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.event-date{
    justify-content: flex-end;
    align-items: flex-end;
}

.event-summary{
    font-size: 1em;
    padding-left: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
}
.img-list-view{
    height:50px;
    width:50px;
    clip-path: circle();
    padding-left:10px;
    padding-top: 10px;
}
.listItem{
    list-style-type: none;
    border-bottom:1px solid lightgray;
    background-color: rgba(212, 180, 255, 0.179);
    margin-bottom:30px;
    width:90%;
    border-radius: 10px 10px 10px 10px;
}

.listItem:hover {
    cursor: pointer;
    background-color: rgb(149, 0, 255);
    transition: 0.5s;
}

.list-item-container{
    transition: 0.5s;
}

.list-item-container:hover{
    margin-top:-5px;
}