$breakpoint-ipad-mini: 768px;
$breakpoint-ipad: 1024px;
$breakpoint-ipad-pro: 1366px;
$breakpoint-iphone-pro-max: 430px;
$breakpoint-iphone-pro: 390px;
$breakpoint-iphone-x: 360px;
$breakpoint-iphone-x-small: 320px;

.calendar-container{
    height:auto;
    width:auto;
    display:flex;
    justify-content: center;
    background-image: radial-gradient(circle at 25% 54%, rgba(18, 18, 18,0.06) 0%, rgba(18, 18, 18,0.06) 22%,transparent 22%, transparent 100%),radial-gradient(circle at 67% 98%, rgba(223, 223, 223,0.06) 0%, rgba(223, 223, 223,0.06) 52%,transparent 52%, transparent 100%),radial-gradient(circle at 7% 92%, rgba(169, 169, 169,0.06) 0%, rgba(169, 169, 169,0.06) 52%,transparent 52%, transparent 100%),radial-gradient(circle at 46% 37%, rgba(187, 187, 187,0.06) 0%, rgba(187, 187, 187,0.06) 47%,transparent 47%, transparent 100%),radial-gradient(circle at 38% 35%, rgba(57, 57, 57,0.06) 0%, rgba(57, 57, 57,0.06) 99%,transparent 99%, transparent 100%),radial-gradient(circle at 46% 86%, rgba(100, 100, 100,0.06) 0%, rgba(100, 100, 100,0.06) 60%,transparent 60%, transparent 100%),linear-gradient(90deg, rgb(57, 8, 200),rgb(240, 145, 202));
}

.image-container{
    display:flex;
    justify-content: center;
    vertical-align: middle;
}

.calendar-image-container{
    margin: auto;
}

.calendar-image{
    height: 10vh;
    width: 10vh;
    margin-bottom: 10px;
    margin-top: 10px;
}

.event-image{
    height: 25vh;
    width: 30vh;
    margin-bottom:20px;
}

.events-container{
    display:flex;
    flex-direction: column;
    width:120vh;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 15px rgb(0, 0, 0);
    background-image: linear-gradient(rgb(244, 244, 244), rgb(255, 255, 255));
    border-radius: 50px 50px 50px 50px;
}

.list-item-container{
    transition: 0.5s;
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-between;
    align-items: center;
}

ul{
    padding:0;
}
.listview{
    align-items: center;
    vertical-align: middle;
}

.img-list-view{
    height:30px;
    width:30px;
    clip-path: circle();
    text-align: left;
    align-self:start;
    margin-left:10px;
    margin-top:10px;
}

.event-title{
    font-size: 1.5em;
    color:rgb(50, 50, 50);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    word-break: break-all;
    align-items: flex-start;
    margin-top:15px;
    flex-basis: 50%;
}

.event-date{
    font-size: 0.3em;
    text-align: right;
    padding-right:10px;
}

.event-summary{
    font-size: 0.9em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
    text-align: center;
}

.listItem{
    list-style-type: none;
    border-bottom:1px solid lightgray;
    box-shadow: 0.5px 1px 1px 1px rgb(215, 215, 215);
    background-color: rgba(255, 255, 255, 0.67);
    margin-bottom:30px;
    width:90%;
    border-radius: 10px 10px 10px 10px;
}

.listItem:hover {
    cursor: pointer;
    background-color: rgb(241, 241, 241);
    transition: 0.5s;
}

.list-item-container:hover{
    margin-top:-5px;
}


@media (max-width: $breakpoint-iphone-pro-max) {

    .calendar-image {
        height: 10vh;
        width: 22vw;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .event-title{
        font-size: 1.0em;
        padding-left: 10px;
        text-align: center;
    }

    .event-summary{
        font-size: 0.5 em;
    }

    .event-image{
        height: 25vh;
        width: 50vw;
        margin-bottom:10px;
    }

    .calendar-image{
        height: 8vh;
        width: 15vw;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

@media (max-width:$breakpoint-iphone-pro){
    
    .calendar-image {
        height: 10vh;
        width: 22vw;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .event-title{
        font-size: 1.0em;
        padding-left: 10px;
        text-align: center;
    }

    .event-summary{
        font-size: 0.5 em;
    }

    .event-image{
        height: 25vh;
        width: 60vw;
        margin-bottom:10px;
    }
}

@media (max-width: $breakpoint-iphone-x) {

    .calendar-image {
        height: 10vh;
        width: 22vw;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .event-title{
        font-size: 1.0em;
        padding-left: 10px;
        text-align: center;
    }

    .event-summary{
        font-size: 0.1 em;
    }

    .event-image{
        height: 20vh;
        width: 35vw;
        margin-bottom:10px;
    }    
}
