.topbarcontainer{
    background-color: white;
    overflow: hidden;
    height:10vh;
    width:100%;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    /* border:1px solid black; */
    /* box-shadow: 1px 2px; */
    background-image: radial-gradient(circle at 25% 54%, rgba(18, 18, 18,0.06) 0%, rgba(18, 18, 18,0.06) 22%,transparent 22%, transparent 100%),radial-gradient(circle at 67% 98%, rgba(223, 223, 223,0.06) 0%, rgba(223, 223, 223,0.06) 52%,transparent 52%, transparent 100%),radial-gradient(circle at 7% 92%, rgba(169, 169, 169,0.06) 0%, rgba(169, 169, 169,0.06) 52%,transparent 52%, transparent 100%),radial-gradient(circle at 46% 37%, rgba(187, 187, 187,0.06) 0%, rgba(187, 187, 187,0.06) 47%,transparent 47%, transparent 100%),radial-gradient(circle at 38% 35%, rgba(57, 57, 57,0.06) 0%, rgba(57, 57, 57,0.06) 99%,transparent 99%, transparent 100%),radial-gradient(circle at 46% 86%, rgba(100, 100, 100,0.06) 0%, rgba(100, 100, 100,0.06) 60%,transparent 60%, transparent 100%),linear-gradient(90deg, rgb(57, 8, 200),rgb(240, 145, 202));
}

.top-bar-title{
    font-size: 1.5em;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.alignmiddle{
    text-align: center;
    vertical-align: middle;
}

.links{
    text-align: center;
    vertical-align: middle;
    font-size: 20px;

}

.textclass{
    color:blue;
    text-align:center;
    vertical-align: middle;
}

