.topbarcontainer{
    background-color: white;
    overflow: hidden;
    height:10vh;
    width:100%;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    border:1px solid black;
    box-shadow: 1px 10px;
    margin-bottom: 30px;
}

.top-bar-title{
    font-size: 1.5em;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.alignmiddle{
    text-align: center;
    vertical-align: middle;
}

.links{
    text-align: center;
    vertical-align: middle;
    font-size: 20px;

}

.textclass{
    color:blue;
    text-align:center;
    vertical-align: middle;
}

